body,.body-fauxcolumn-outer {
font:normal normal 12px Arial, Tahoma, Helvetica, FreeSans, sans-serif;
color:#222;
padding:0 40px 40px;
}

html body .region-inner {
min-width:0;
max-width:100%;
width:auto;
}

a:link {
text-decoration:none;
color:#28b;
}

a:visited {
text-decoration:none;
color:#888;
}

a:hover {
text-decoration:underline;
color:#3af;

span.german-text,span.deutsch {
font-weight:700;
}

.blank {
font-weight:400;
text-decoration:underline;
cursor:pointer;
}

.blankHidden {
color:#fff;
border-bottom:1px solid #000;
padding:0 5px 0 px;
}

.blankShown {
color:#000;
border:none!important;
}

.clickable {
cursor:pointer;
}

thead {
background-color:#eee8aa;
text-align:center;
}

th {
background-color:#eee8aa;
}

table {
border:1px dotted #eee8aa;
border-bottom:none;
}

tr.highlighted {
background-color:#f0fff0;
}

caption {
text-decoration:underline;
font-style:italic;
}

td,th {
border-bottom:1px dotted #eee8aa;
}

.important {
border:2px solid #ff4500;
margin:5px;
padding:5px;
}

.important .warning,.important .note {
font-weight:700;
text-align:center;
}

.important .warning {
color:orange;
}

.important .note {
color:#006400;
}

.collapsible .expandedHeader {
background:url(../images/collapse.gif) 0 0 no-repeat;
padding-left:20px;
cursor:pointer;
}

.collapsible .collapsedHeader {
background:url(../images/expand.gif) 0 0 no-repeat;
padding-left:20px;
cursor:pointer;
}

.wrong {
text-decoration:line-through;
}

.correct {
color:#ff4500;
font-weight:700;
}

.letter {
border:1px solid #bcbcbb;
background:url(../images/evolution-mail.jpg) 100% 0 no-repeat;
padding:0 10px;
}

.letter .date {
text-align:right;
}

.showMeaning {
background:url(../images/Screen%20shot%202011-05-12%20at%203.32.36%20AM%20%282%29.jpg) 0 0 no-repeat;
cursor:pointer;
text-decoration:underline;
padding:5px 5px 5px 50px;
}

.eng-on-hover {
cursor:help;
background:#f5f5dc;
}

.columns {
position:relative;
}

.left-col {
width:45%;
margin-right:5px;
float:left;
}

.right-col {
width:45%;
margin-left:5px;
float:right;
}

.clr {
clear:both;
}

p.news:first-letter {
font-size:2em;
}

.article-label {
background-color:#000;
color:#fff;
font-size:1.5em;
display:box;
margin-right:10px;
padding:5px;
}

.comment-in-post {
border:1px solid #eee;
color:#888;
font-size:.8em;
padding:5px;
}

.exercise-description {
color:#006400;
font-style:italic;
}

.exercise-section {
margin-top:10px;
border-top:2px solid #006400;
}

.hint {
font-size:.9em;
font-style:italic;
border:1px solid #afafaf;
display:inline-block;
clear:none;
margin:2px 5px;
padding:2px;
}

.ulined {
border-bottom:1px gray dashed;
}

.title-desc {
text-align:center;
font-size:.8em;
margin:5px 100px 0;
}

.disclaimer {
text-align:center;
font-size:.85em;
color:gray;
}

.fauxcolumn-right-outer .fauxcolumn-inner,.section-columns td.columns-cell,.mobile .tabs-inner .PageList .widget-content .pagelist-arrow {
border-left:1px solid #eee;
}

.post-body img,.post-body .tr-caption-container,td {
padding:5px;
}

.post-body .tr-caption-container,.mobile-index-contents {
color:#222;
}

.blog-pager,.mobile .blog-pager {
background:transparent none no-repeat scroll top center;
}

.mobile .post,.mobile .main-inner .column-center-inner .section,.mobile h3.post-title {
margin:0;
}

.mobile .footer-outer,.mobile .tabs-inner .section:first-child {
border-top:none;
}